#define BLYNK_TEMPLATE_ID "<blynk-template-id-here>"
#define BLYNK_TEMPLATE_NAME "<template-name-here>"
#define BLYNK_AUTH_TOKEN "<blynk-auth-token-here>"
#define SSID "<wifi-ssid-here>"
#define PASS "<wifi-password-here-leave-empty-string-if-no-password>"
